
# Настройки докера
COMPOSE_PROJECT_NAME=nsf
CONTAINER_NAME_APACHE=nsf-apache
CONTAINER_NAME_PHP=nsf-apache-php-fpm
CONTAINER_NAME_POSTGRES=nsf-apache-postgres
CONTAINER_NAME_REDIS=nsf-redis
CONTAINER_NAME_OPENSEARCH=nsf-opensearch
CONTAINER_NAME_OPENSEARCH_DASHBOARDS=nsf-opensearch-dashboards

VOLUME_NAME_POSTGRES=nsf_postgres_data
VOLUME_NAME_REDIS=nsf_redis_data
VOLUME_NAME_OPENSEARCH=nsf_opensearch_data

NETWORK_NAME=nsf-net
NETWORK_EXTERNAL_NAME=nsf-external-net

# Идентификаторы '$USER'
PUID=1000
PGID=1000

# Apache
APACHE_HOST_HTTP_PORT=8085
INSTALL_XDEBUG=true

# База данных
POSTGRES_PORT=5438
POSTGRES_DB=nsf
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789

# Кэширование
REDIS_PORT=6382

# OpenSearch
OPENSEARCH_PORT=9200
OPENSEARCH_PERFORMANCE_ANALYZER_PORT=9600
OPENSEARCH_DASHBOARDS_PORT=5601

# Хранилище
MINIO_ROOT_USER=miniotest
MINIO_ROOT_PASSWORD=miniotest
MINIO_DEFAULT_BUCKETS=default
MINIO_USE_SSL=true
MINIO_STORAGE_LOCATION="./data"
MINIO_PORT=9102
MINIO_CONSOLE_PORT=9103
